{{ 'marvel-page-news.scss.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .news-slider-arrow-prev {
    margin-left: -77px;
    background-image: url("{{ 'prev_arrow.svg' | asset_url }}") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    content: '' !important;
  }

  .news-slider-arrow-next {
    margin-right: -77px;
    background-image: url("{{ 'next_arrow.svg' | asset_url }}") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    content: '' !important;
  }

  .news-card-arrow {
    display: block !important;
    background-image: url("{{ 'long_arrow_yellow.svg' | asset_url }}");
    width: 46px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (max-width: 320.98px) {
    .news-slider-arrow-prev {
      display: none !important;
    }

    .news-slider-arrow-next {
      display: none !important;
    }
  }
{%- endstyle -%}

<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer="defer"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      type: 'slide',
      perPage: 3,
      perMove: 1,
      rewind: true,
      rewindByDrag: true,
      paginationKeyboard: true,
      easing: 'ease',
      drag: 'free',
      snap: true,
      fixedWidth: 'fit-content',
      flickPower: (number = 500),
      omitEnd: true,
      breakpoints: {
        320.98: {
          perPage: 1,
        },
      },
      classes: {
        arrow: 'splide__arrow news-slider-arrows',
        prev: 'splide__arrow--prev news-slider-arrow-prev',
        next: 'splide__arrow--next news-slider-arrow-next',
        pagination: 'splide__pagination news-pagination',
        page: 'splide__pagination__page news-pagination-button',
      },
    });
    splide.mount();
  });
</script>

{% if section.settings.news_title %}
  <div id="{{ section.settings.news_title }}" dark="{{ section.settings.news_dark_mode }}" class="news">
    <div class="news-container">
      <div class="news-title">
        {{ section.settings.news_title }}
      </div>
      <div class="news-separator-stripe"></div>
    </div>
    <div class="news-slider-container">
      {% if section.blocks %}
        {% if section.blocks.size > 3 %}
          <div class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track news-slider-track">
              <ul class="splide__list">
                {%- for block in section.blocks -%}
                  <li class="splide__slide">
                    <a href="{{ block.settings.news_card_link }}" class="news-card">
                      {% if block.settings.news_card_image %}
                        <div class="news-card-image">
                          {{ block.settings.news_card_image | image_url: width: 350, height: 230 | image_tag }}
                        </div>
                        <div class="news-card-image-mobile">
                          {{ block.settings.news_card_image | image_url: width: 258, height: 169 | image_tag }}
                        </div>
                      {% endif %}
                      <div class="news-card-content">
                        {% if block.settings.news_card_logo %}
                          <div class="news-card-logo">
                            {{ block.settings.news_card_logo | image_url: width: null, height: 32 | image_tag }}
                          </div>
                          <div class="news-card-logo-mobile">
                            {{ block.settings.news_card_logo | image_url: width: null, height: 24 | image_tag }}
                          </div>
                        {% endif %}
                        {% if block.settings.news_card_description %}
                          <div class="news-card-text">
                            {{ block.settings.news_card_description }}
                          </div>
                        {% endif %}
                      </div>
                      <div class="news-card-bottom-content">
                        {% if block.settings.news_card_date %}
                          <div class="news-card-date">
                            {{ block.settings.news_card_date }}
                          </div>
                        {% endif %}
                        <div class="news-card-arrow"></div>
                      </div>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% else %}
          <div class="news-container-bottom">
            {%- for block in section.blocks -%}
              <a href="{{ block.settings.news_card_link }}" class="news-card news-card-mobile">
                {% if block.settings.news_card_image %}
                  <div class="news-card-image">
                    {{ block.settings.news_card_image | image_url: width: 350, height: 230 | image_tag }}
                  </div>
                  <div class="news-card-image-mobile news-card-image-set-cards-mobile">
                    {{ block.settings.news_card_image | image_url: width: null, height: 191 | image_tag }}
                  </div>
                {% endif %}
                <div class="news-card-content">
                  {% if block.settings.news_card_logo %}
                    <div class="news-card-logo">
                      {{ block.settings.news_card_logo | image_url: width: null, height: 32 | image_tag }}
                    </div>
                    <div class="news-card-logo-mobile">
                      {{ block.settings.news_card_logo | image_url: width: null, height: 24 | image_tag }}
                    </div>
                  {% endif %}
                  {% if block.settings.news_card_description %}
                    <div class="news-card-text news-card-text-set-cards-mobile">
                      {{ block.settings.news_card_description }}
                    </div>
                  {% endif %}
                </div>
                <div class="news-card-bottom-content">
                  {% if block.settings.news_card_date %}
                    <div class="news-card-date">
                      {{ block.settings.news_card_date }}
                    </div>
                  {% endif %}
                  <div class="news-card-arrow"></div>
                </div>
              </a>
            {%- endfor -%}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Marvel News",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "news_title",
      "label": "Title",
      "default": "News"
    },
    {
      "type": "checkbox",
      "id": "news_dark_mode",
      "label": "Scroll Menu Dark Mode",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "news-card",
      "name": "News Card",
      "settings": [
        {
          "type": "text",
          "id": "news_card_link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "news_card_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "news_card_logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "news_card_description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "news_card_date",
          "label": "Date"
        }
      ]
    }
  ]
}
{% endschema %}
