{{ 'marvel-page-hero.scss.css' | asset_url | stylesheet_tag }}

<script src="{{ 'marvel-scroll.js' | asset_url }}" defer="defer"></script>

{%- style -%}
.hero-image {
    background-image: url("{{ section.settings.hero_image | image_url }}");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
}
{%- endstyle -%}

<div id="Home">
  {% if section.settings.hero_image %}
    <div class="hero-image">
      <div class="hero-gradient">
        {% if section.settings.hero_title %}
          <div class="hero-title">
            {{ section.settings.hero_title }}
          </div>
        {% endif %}
        {% if section.settings.hero_description %}
          <div class="hero-description">
            {{ section.settings.hero_description }}
          </div>
        {% endif %}
        <a class="hero-contact-button">
          {{ section.settings.hero_contact_button }}
          <svg style="margin-left: 7px;" width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 2.14286L8.46323 0L14 0V10H8.46323L6 7.85714V2.14286Z" fill="#0B0D21"/>
            <path d="M14 2H20V4H14V2Z" fill="#0B0D21"/>
            <path d="M14 6H20V8H14V6Z" fill="#0B0D21"/>
            <path d="M0 6L0 4H6V6H0Z" fill="#0B0D21"/>
            <path d="M8 6.5V3.5L9.33333 2H12V8H9.33333L8 6.5Z" fill="#F9D023"/>
          </svg>
        </a>
        <div class="hero-line"></div>
        <div class="hero-scroll-text">Scroll for more</div>
      </div>
    </div>
  {% else %}
    <div class="hero-gradient">
      {% if section.settings.hero_title %}
        <div class="hero-title">
          {{ section.settings.hero_title }}
        </div>
      {% endif %}
      {% if section.settings.hero_description %}
        <div class="hero-description">
          {{ section.settings.hero_description }}
        </div>
      {% endif %}
      <a class="hero-contact-button">
        {{ section.settings.hero_contact_button }}
        <svg style="margin-left: 7px;" width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6 2.14286L8.46323 0L14 0V10H8.46323L6 7.85714V2.14286Z" fill="#0B0D21"/>
          <path d="M14 2H20V4H14V2Z" fill="#0B0D21"/>
          <path d="M14 6H20V8H14V6Z" fill="#0B0D21"/>
          <path d="M0 6L0 4H6V6H0Z" fill="#0B0D21"/>
          <path d="M8 6.5V3.5L9.33333 2H12V8H9.33333L8 6.5Z" fill="#F9D023"/>
        </svg>
      </a>
      <div class="hero-line"></div>
      <div class="hero-scroll-text">Scroll for more</div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Marvel Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Title",
      "default": "Marvel Power Group"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "hero_description",
      "label": "Description",
      "default": "Marvel Power Group is a woman-owned, ESG-focused transaction broker and commercial advisor. We offer services to clients in power, gas, water, industrial and transportation sectors."
    },
    {
      "type": "text",
      "id": "hero_contact_button",
      "label": "Contact Button Text",
      "default": "Contact Us"
    }
  ]
}
{% endschema %}
