{{ 'marvel-page-services.scss.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .service-point-arrow {
    display: block !important;
    background-image: url("{{ 'long_arrow_white.svg' | asset_url }}");
    width: 46px;
    height: 10px;
    margin-top: 32px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media screen and (max-width: 576.98px) {
    .service-point-arrow {
      margin-top: 24px;
    }
  }
{%- endstyle -%}

{% if section.settings.service_title %}
  <div id="{{ section.settings.service_title }}" dark="{{ section.settings.service_dark_mode }}" class="service-background">
    <div class="service-container">
      <div class="service-title">
        {{ section.settings.service_title }}
      </div>
      <div class="service-separator-stripe"></div>
      <div class="service-text">
        {{ section.settings.service_header }}
      </div>
      <div class="service-points-container">
        {%- for block in section.blocks -%}
          <div class="service-point">
            <div class="service-point-header">
              {{ block.settings.service_point_header }}
            </div>
            <div class="service-point-text">
              {{ block.settings.service_point_text }}
            </div>
            <div class="service-point-arrow"></div>
          </div>
        {%- endfor -%}
      </div>
      <div class="service-text">
        {{ section.settings.service_text }}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Marvel Services",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "service_title",
      "label": "Title",
      "default": "Services"
    },
    {
      "type": "checkbox",
      "id": "service_dark_mode",
      "label": "Scroll Menu Dark Mode",
      "default": false
    },
    {
      "type": "textarea",
      "id": "service_header",
      "label": "Top Text",
      "default": "Our clients are at the forefront of energy transition and innovation. Their mandate is complex: balance project needs with customer demands, lofty investment targets and development complexities. Layer on market volatility and regulatory risk and the scope becomes less manageable in-house. This is where Marvel comes in. We understand the task and bring deep expertise to addressing these challenges."
    },
    {
      "type": "textarea",
      "id": "service_text",
      "label": "Bottom Text",
      "default": "Our clients are time constrained and under-resourced. Agendas shift, budgets move and priorities change. We understand. We are agile, creative and immediately responsive to your various working styles, governance requirements and evolving needs."
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "service-point",
      "name": "Service Point",
      "settings": [
        {
          "type": "text",
          "id": "service_point_header",
          "label": "Header"
        },
        {
          "type": "html",
          "id": "service_point_text",
          "label": "Text",
          "default": "<ul>\n<li><\/li>\n<\/ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marvel Services"
    }
  ]
}
{% endschema %}
