{{ 'marvel-page-footer.scss.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer-send-button-icon {
    display: block !important;
    background-image: url("{{ 'electric_fork.svg' | asset_url }}");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
{%- endstyle -%}

{% if section.settings.footer_title %}
  <div id="{{ section.settings.footer_title }}" dark="{{ section.settings.footer_dark_mode }}" class="footer-container-background">
    <div class="footer-container">
      <div class="footer-title">
        {{ section.settings.footer_title }}
      </div>
      <div class="footer-separator-stripe"></div>
      <div class="footer-content-container">
        <div class="footer-left-container">
          <div class="footer-text">Email us here:</div>
          {% if section.settings.footer_link %}
            <div class="footer-link">{{ section.settings.footer_link }}</div>
          {% endif %}
        </div>
        <div class="footer-content-container-right">
          {% if section.settings.footer_text %}
            <div class="footer-text">{{ section.settings.footer_text }}</div>
          {% endif %}
          <form action="{{ section.settings.footer_contact_link }}" method="POST" class="footer-right-input-container">
            <input type="text" class="footer-right-input" placeholder="{{ section.settings.footer_name }}">
            <input type="text" class="footer-right-input" placeholder="{{ section.settings.footer_email }}">
            <input type="text" class="footer-right-input" placeholder="{{ section.settings.footer_company }}">
            <button type="submit" class="footer-right-submit-button">
              {{ section.settings.footer_send_text }}
              <div class="footer-send-button-icon"></div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Marvel Footer",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "footer_title",
      "label": "Title",
      "default": "Contact"
    },
    {
      "type": "checkbox",
      "id": "footer_dark_mode",
      "label": "Scroll Menu Dark Mode",
      "default": false
    },
    {
      "type": "text",
      "id": "footer_link",
      "label": "Email"
    },
    {
      "type": "text",
      "id": "footer_contact_link",
      "label": "Contact Link"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Text",
      "default": "Stay in the loop by getting on our mailing list"
    },
    {
      "type": "text",
      "id": "footer_name",
      "label": "First Input Placeholder Text",
      "default": "NAME *"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Second Input Placeholder Text",
      "default": "E-MAIL *"
    },
    {
      "type": "text",
      "id": "footer_company",
      "label": "Third Input Placeholder Text",
      "default": "COMPANY *"
    },
    {
      "type": "text",
      "id": "footer_send_text",
      "label": "Send Button Text",
      "default": "SEND"
    }
  ],
  "presets": [
    {
      "name": "Marvel Footer"
    }
  ]
}
{% endschema %}
